{% extends 'base.html' %} 
{% block content %}
<div class="home__categorys">
    {% for category in categorys %}

        <div class="category mb-5">
            <h3 class="title is-3 has-text-success">{{category.title}}</h3>
            <hr />

            {% for art in category.arts.all %}

                <div class="art">
                    <span>{{forloop.counter}}</span>
                    <span><b>{{art.title}}</b></span>
                    <span>{{art.get_length}}</span>
                    <span>
                        <!--   Here we are creating an anchor
                        tag that when clicked will hit our new
                        route and send a query to remove the art     -->
                        <a href="{% url 'category_art_assoc' category.pk art.pk %}?assoc=remove" class="button is-danger is-outlined">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                        </a>
                    </span>
                </div>

            {% endfor %}
        </div>
    {% empty %} 
        <div class="category mb-5">"There are no arts in this category"</div>
    {% endfor %}
</div>
{% endblock %}